.row
  .col-md-12
    %h1=t '.title', default: 'Be Simple !'
  .col-md-3.col-md-offset-5
    = simple_form_for @site do |f|
      = f.input :email, placeholder: 'your@email.com', input_html: { autofocus: :autofocus, class: 'input-lg' }
      .site-name
        %span.url= ".#{ENV['SITES_DOMAINS']}"
        = f.input :name, label: '', input_html: { class: 'input-lg'}
      = f.submit t('.try', default: 'Create my site'), class: 'btn btn-success', disabled: :disabled
