%section#header
  .background
    -# %iframe.video{src: 'http://api.dmcloud.net/player/embed/53525f9806361d4eae4ef524/53525fb994a6f6482e01c737?auth=1713267714-0-9fk75olu-0bd0127155b8c25d200dd95927bc73ad&preset=5352609294a6f649e5312cb0&autoplay=1', frameborder: '0', width: '100%', height: '100%'}

  -# %script{type: 'text/javascript', src:'//cdn.sublimevideo.net/js/9ckbmzmy.js'}
  -#.video
    :erb
      <video id="a240e92d" class="sublime" poster="<%= asset_path('home.png')%>" width="100%" height="100%" title="Midnight Sun" data-uid="a240e92d" data-autoresize="fit" data-autoplay='true' preload="none">
        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
        <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
        <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
      </video>
  - if params['preview']
    %video#header-video{poster: asset_path('home.png'), preload: 'auto', autoplay: 'true', loop: 'loop', muted: 'muted', volume: '0'}
      %source{src: 'https://s3-eu-west-1.amazonaws.com/static.soslide.com/video/home.mp4', type:'video/mp4'}
      %source{src: 'https://s3-eu-west-1.amazonaws.com/static.soslide.com/video/home.webm', type:'video/webm'}
  .message
    %h1
      = t '.welcome.title'
    %h1
      %small= t '.welcome.subtitle'
    = link_to  t('.welcome.examples'), '#examples'
  .scroll
    .fa.fa-angle-double-down.fa-5x
%section#register.row
  .col-md-5.col-md-offset-1
    %h1
      =t '.register.title'
    %h1
      %small= t '.register.subtitle'
  .col-md-4
    = simple_form_for @site do |f|
      = f.input :email, placeholder: 'your@email.com', input_html: { autofocus: :autofocus, class: 'input-lg' }
      .site-name
        %span.url= ".#{ENV['SITES_DOMAINS']}"
        = f.input :name, label: '', input_html: { class: 'input-lg'}
      = f.submit t('.try'), class: 'btn btn-lg btn-success'
%section#examples.row
  .col-sm-10.col-sm-offset-1
    %h1
      = t '.examples.title'
      %small= t '.examples.subtitle'
    - [ 'studiocuicui.fr', 'karimdaher.portfoli.fr' , 'ombr.portfoli.fr'].each do |site|
      .col-md-4
        =link_to "http://#{site}", alt: site, target: '_blank' do
          = cl_image_tag("http://#{site}", sign_url: true, type: 'url2png', width: 500, gravity: :north, class: 'img-responsive')
%section#features.row
  .col-sm-10.col-sm-offset-1
    %h1
      = t '.features.title'
      %small= t '.features.subtitle'
    .col-sm-4
      .feature
        %h1
          .fa.fa-flash.fa-5x
          =t('.speed.title')
        .description=t('.speed.description')
    .col-sm-4
      .feature
        %h1
          .devices
            .fa.fa-mobile
            .fa.fa-desktop
            .fa.fa-tablet
          =t('.devices.title')
        .description= t('.devices.description')
    .col-sm-4
      .feature
        %h1
          .fa.fa-heart.fa-5x
          = t('.love.title')
        .description=t('.love.description')
%section#pricing.row
  .col-sm-10.col-sm-offset-1
    %h1
      = t '.pricing.title'
      %small= t '.pricing.subtitle'
    .col-sm-4
      .pricing
        %h1
          .fa.fa-book.fa-5x
        %h1
          = t 'pricing.student.title'
        %h4= t 'pricing.student.price'
        %p= t 'pricing.student.description1'
        %p= t 'pricing.student.description2'
        = link_to t('coming_soon'), '#', class: 'btn btn-success btn-lg disabled'
    .col-sm-4
      .pricing
        %h1
          .fa.fa-briefcase.fa-5x
        %h1
          = t 'pricing.pro.title'
        %h4= t 'pricing.pro.price'
        %p= t 'pricing.pro.description1'
        %p= t 'pricing.pro.description2'
        = link_to t('.start'), '#register', class: 'btn btn-success btn-lg'
    .col-sm-4
      .pricing
        %h1
          .fa.fa-magic.fa-5x
        %h1
          = t 'pricing.custom.title'
        %h4= t 'pricing.custom.price'
        %p= t 'pricing.custom.description1'
        %p= t 'pricing.custom.description2'
        = link_to t('contact_us'), 'mailto: contact@soslide.com', class: 'btn btn-success btn-lg'
